@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body {
  font-family: 'Roboto Slab', sans-serif;
}

.navbar-inverse {
  background: #1F1C2C;
  background: -webkit-linear-gradient(to right, #1F1C2C, #928DAB);
  background: linear-gradient(to right, #1F1C2C, #928DAB);
  border: 0;
}

.btn-primary {
  background: #1F1C2C;
  background: -webkit-linear-gradient(to right, #050407, #928DAB);
  background: linear-gradient(to right, #050407, #928DAB);
  border: 0;
  padding: 10px 20px;
}

.btn-primary:hover {
  background: -webkit-linear-gradient(to right, #111019, #807c96);
  background: linear-gradient(to right, #111019, #807c96);
}
